@inherits SliderBase
@page "/slider"

<h1>Slider</h1>

<p>Current value: @Protein() gram per day</p>

<label for="tbw">@I18Labels.TargetBodyweight (@(targetBw) kg):</label>
<br />
<input type="text" id="tbw" name="tbw" required minlength="2" maxlength="3" size="4" @bind-value="@targetBw" @bind-value:event="oninput" />
<br />
<br />
<label for="ppg">Protein per gram (@(ProteinRatio) g):</label>
<br />
<input type="range" id="ppg" name="ppg" min="8" max="30" step="1" @bind-value="@proteinRatioDiscrete" @bind-value:event="oninput" />
<br />
@foreach (var food in Foods.OrderBy(x => x.Nutrients.Protein))
{
    if (AmountOfFoods.ContainsKey(food.Guid))
    {
        <label for="@food.Guid">Choose amount of @I18Foods[food.Name] (@AmountOfFoods[@food.Guid] g of which @((AmountOfFoods[food.Guid] * food.Nutrients.Protein) / 100) g @I18NutrientFacts.Protein.ToLower()):</label>
        <br />
        <input type="range" id="@food.Guid" name="@food.Guid" min="0" max="@food.Max" step="@food.Step" @bind-value="@AmountOfFoods[@food.Guid]" @bind-value:event="oninput" />
        <br />
    }
}

<br />
<h2>
    @I18NutrientFacts.Nutrients
</h2>
<p>@I18NutrientFacts.Energy: @NutrientsSummerized.Energy</p>
<p>@I18NutrientFacts.Protein: @NutrientsSummerized.Protein</p>
<p>@I18NutrientFacts.Carbohydrate: @NutrientsSummerized.Carbohydrate</p>
<p>@I18NutrientFacts.Fat: @NutrientsSummerized.Fat</p>
<p>@I18NutrientFacts.SaturatedFat: @NutrientsSummerized.SaturatedFat</p>
<p>@I18NutrientFacts.Fiber: @NutrientsSummerized.Fiber</p>
<p>@I18NutrientFacts.Vegan: @NutrientsSummerized.Vegan</p>