@inherits SliderBase
@page "/slider"

<h1>Slider</h1>

<p>Current value: @Protein() gram per day</p>

<label for="tbw">@Labels.TargetBodyweight (@(targetBw) kg):</label>
<br />
<input type="text" id="tbw" name="tbw" required minlength="2" maxlength="3" size="4" @bind-value="@targetBw" @bind-value:event="oninput" />
<br />
<br />
<label for="ppg">Protein per gram (@(ProteinRatio) g):</label>
<br />
<input type="range" id="ppg" name="ppg" min="8" max="30" step="1" @bind-value="@proteinRatioDiscrete" @bind-value:event="oninput" />
<br />
@foreach (var food in FoodNutrients)
{
<p>Choose amount of @Foods[FoodNutrients.Single().Name]:</p>
<br />
}
@foreach (var food in AmountOfFoods)
{
<p>@food.Key</p>
<br />
}