@inherits SliderBase
@page "/slider"

<h1>Slider</h1>

<p>Current value: @Protein() gram per day</p>

<label for="tbw">@I18Labels.TargetBodyweight (@(targetBw) kg):</label>
<br />
<input type="text" id="tbw" name="tbw" required minlength="2" maxlength="3" size="4" @bind-value="@targetBw" @bind-value:event="oninput" />
<br />
<br />
<label for="ppg">Protein per gram (@(ProteinRatio) g):</label>
<br />
<input type="range" id="ppg" name="ppg" min="8" max="30" step="1" @bind-value="@proteinRatioDiscrete" @bind-value:event="oninput" />
<br />
@foreach (var food in GetFoods().OrderBy(x => x.Nutrients.Protein))
{
    if (AmountOfFoods.ContainsKey(food.Id))
    {
        var nutrients = food.Nutrients.ChangeAmount(AmountOfFoods[food.Id]);

        <label for="@food.Id">Choose amount of @I18Foods[food.Name] (@nutrients.AmountInGram g of which @(nutrients.Protein) g @I18NutrientFacts.Protein.ToLower()):</label>
        <br />
        <input type="range" id="@food.Id" name="@food.Id" min="0" max="@food.Max" step="@food.Step" @bind-value="@AmountOfFoods[@food.Id]" @bind-value:event="oninput" />
        <br />
        <table>
            <thead>
                <tr>
                    <th>@I18NutrientFacts.Nutrients</th>
                    <th>100 g</th>
                    <th>@nutrients.AmountInGram g</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@I18NutrientFacts.Energy</td>
                    <td>@food.Nutrients.Energy</td>
                    <td>@(nutrients.Energy)</td>
                </tr>
                <tr>
                    <td>@I18NutrientFacts.Protein</td>
                    <td>@food.Nutrients.Protein</td>
                    <td>@(nutrients.Protein)</td>
                </tr>
                <tr>
                    <td>@I18NutrientFacts.Carbohydrate</td>
                    <td>@food.Nutrients.Carbohydrate</td>
                    <td>@(nutrients.Carbohydrate)</td>
                </tr>
                <tr>
                    <td>@I18NutrientFacts.Fat</td>
                    <td>@food.Nutrients.Fat</td>
                    <td>@(nutrients.Fat)</td>
                </tr>
                <tr>
                    <td>@I18NutrientFacts.SaturatedFat</td>
                    <td>@food.Nutrients.SaturatedFat</td>
                    <td>@(nutrients.SaturatedFat)</td>
                </tr>
                <tr>
                    <td>@I18NutrientFacts.Fiber</td>
                    <td>@food.Nutrients.Fiber</td>
                    <td>@(nutrients.Fiber)</td>
                </tr>
                <tr>
                    <td>@I18NutrientFacts.Vegan</td>
                    <td>@(nutrients.Vegan)</td>
                </tr>
            </tbody>
        </table>
    }
}

<br />
<h2>
    @I18NutrientFacts.Nutrients
</h2>
@{ var nutrientsSummerized = SummerizeNutrients(); }
<table>
    <thead>
        <tr>
            <th></th>
            @if (AmountOfFoods.Count > 0)
            {
                <th>@(AmountOfFoods.Select(x => x.Value).Aggregate((x, y) => x + y)) g</th>
            }
            else
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@I18NutrientFacts.Energy</td>
            <td>@nutrientsSummerized.Energy</td>
        </tr>
        <tr>
            <td>@I18NutrientFacts.Protein</td>
            <td>@nutrientsSummerized.Protein</td>
        </tr>
        <tr>
            <td>@I18NutrientFacts.Carbohydrate</td>
            <td>@nutrientsSummerized.Carbohydrate</td>
        </tr>
        <tr>
            <td>@I18NutrientFacts.Fat</td>
            <td>@nutrientsSummerized.Fat</td>
        </tr>
        <tr>
            <td>@I18NutrientFacts.SaturatedFat</td>
            <td>@nutrientsSummerized.SaturatedFat</td>
        </tr>
        <tr>
            <td>@I18NutrientFacts.Fiber</td>
            <td>@nutrientsSummerized.Fiber</td>
        </tr>
        <tr>
            <td>@I18NutrientFacts.Vegan</td>
            <td>@nutrientsSummerized.Vegan</td>
        </tr>
    </tbody>
</table>